/* App.css */

@font-face {
  font-family: 'MyNotionCopy';
  src: url('./fonts/66f30814ff6d7cdf.p.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0a0a0a;
  color: white; /* This sets the default text color to white for all elements */
  font-family: 'MyNotionCopy', sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 1rem;
}

pre {
  background-color: #1a1a1a; /* Slightly lighter than the background for contrast */
  padding: 1rem;
  border-radius: 4px;
  white-space: pre-wrap; /* This allows the text to wrap */
  word-break: break-all; /* This prevents horizontal scrolling */
}